* {
  padding: 1 rem;
  margin: 1 rem;
  box-sizing: border-box;
}

html {
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom right, #90fffb, rgb(246, 208, 82));
  display: flex;
  flex-wrap: wrap;
  }

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 6rem;
  font-size: 3rem;
  font-family: cursive;
}

main {
  padding: 1.6rem;
}

p {
  font-family: serif;
  font-size: 20px;
}

#principalForm{
  padding: 0.5rem;
  border: 1rem;
  align-content: center;
  width: 50%;
}

#largestnum{
  padding: 1rem;
  border: 1rem chocolate;

}